<?xml version='1.0' encoding='utf-8'?>
<widget id="tbuschto.tabrisworkertest" version="0.1.0">
  <name>Tabris Worker Test</name>
  <description>
    Example Tabris.js App
  </description>
  <author email="tbuschto@eclipsesource.com">
    Tim Buschtoens
  </author>
  <preference name="EnableDeveloperConsole" value="$IS_DEBUG" />
</widget>
